---
const people = [
{first_name:'Алла', last_name:'Плешко', birthday: '17.04.1954'},
{first_name:'Владимир', last_name:'Плешко', birthday: '17.04.1951'},
{first_name:'Елена', last_name:'Плешко', birthday: '18.05.1988'},
];
var date = new Date();
var month = date.getMonth();
var day = date.getDate();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Birthdays</title>
	</head>
	<body>
		<h1>Birthdays</h1>
		<ul role="list">
			{(people.filter((person) => (person.birthday.split('.')[0] === '17' && person.birthday.split('.')[1] === '04'))).map((person) => <li>
				<div">
				<tr>
					<td>{person.first_name}</td>
					<td>{person.last_name}</td>
					<td>{person.birthday}</td>
				</tr>
				</div>
			</li>)}
		</ul>
	</body>
</html>
