---
import '../styles/global.css';
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Birthdays</title>
	</head>
	<body>
    <script src="preline/dist/preline.js"></script>
    <a href="/month/">В этом месяце</a>
    <a href="/all/">Все</a>
    <h2>В этот день родились:</h2>
<script>
	import List from "list.js";
  import birth from './birth.json' assert {'content-type': 'application/json'};

  function isBirthday(value) {
    if (typeof value !== 'object') {
        return false;
    }
    const birthParts = value.birthday.split(".");
    const birthMonth = parseInt(birthParts[1]);
    const birthDay = parseInt(birthParts[0]);
    const birthOffset = birthMonth * 100 + birthDay;

    const nowDate = new Date();
    const nowMonth = nowDate.getMonth() + 1;
    const nowDay = nowDate.getDate();
    const nowOffset = nowMonth * 100 + nowDay;

    return birthOffset === nowOffset;
  }

	var options = {
  valueNames: [ 'name', 'birthday'],
  item: '<li><h3 class="name"></h3><p class="birthday"></p></li>'
};

var values = birth.filter(isBirthday);
var userList = new List('users', options, values);

</script>
<div id="users">
  <ul class="list"></ul>
</div>
</body>
</html>
