<section class="_container-x _container-y">
  <div class="border-b border-gray-300">
    <nav class="flex space-x-2" aria-label="Tabs" role="tablist">
      <button
        type="button"
        class="hs-tab-active:bg-white hs-tab-active:border-b-transparent hs-tab-active:text-blue-600 -mb-px py-3 px-4 inline-flex items-center gap-2 bg-gray-50 text-sm font-medium text-center border text-gray-500 rounded-t-lg hover:text-gray-700 active"
        id="card-type-tab-item-1"
        data-hs-tab="#card-type-tab-1"
        aria-controls="card-type-tab-1"
        role="tab">
        Сегодня
      </button>
      <button
        type="button"
        class="hs-tab-active:bg-white hs-tab-active:border-b-transparent hs-tab-active:text-blue-600 -mb-px py-3 px-4 inline-flex items-center gap-2 bg-gray-50 text-sm font-medium text-center border text-gray-500 rounded-t-lg hover:text-gray-700"
        id="card-type-tab-item-2"
        data-hs-tab="#card-type-tab-2"
        aria-controls="card-type-tab-2"
        role="tab">
        Скоро
      </button>
      <button
        type="button"
        class="hs-tab-active:bg-white hs-tab-active:border-b-transparent hs-tab-active:text-blue-600 -mb-px py-3 px-4 inline-flex items-center gap-2 bg-gray-50 text-sm font-medium text-center border text-gray-500 rounded-t-lg hover:text-gray-700"
        id="card-type-tab-item-3"
        data-hs-tab="#card-type-tab-3"
        aria-controls="card-type-tab-3"
        role="tab">
        В этом месяце
      </button>
      <button
        type="button"
        class="hs-tab-active:bg-white hs-tab-active:border-b-transparent hs-tab-active:text-blue-600 -mb-px py-3 px-4 inline-flex items-center gap-2 bg-gray-50 text-sm font-medium text-center border text-gray-500 rounded-t-lg hover:text-gray-700"
        id="card-type-tab-item-4"
        data-hs-tab="#card-type-tab-4"
        aria-controls="card-type-tab-4"
        role="tab">
        Все
      </button>
    </div>
  <div>
    <div id="card-type-tab-1" role="tabpanel" aria-labelledby="card-type-tab-item-1">
      <div id="day">
        <div class="list text-gray-600"></div>
      </div>
    </div>
    <div id="card-type-tab-2" class="hidden"  role="tabpanel" aria-labelledby="card-type-tab-item-2">
      <div id="soon">
        <div class="list text-gray-600"></div>
      </div>
    </div>
    <div id="card-type-tab-3" class="hidden" role="tabpanel" aria-labelledby="card-type-tab-item-3">
      <div id="month">
        <div class="list text-gray-600"></div>
      </div>
    </div>
    <div id="card-type-tab-4" class="hidden" role="tabpanel" aria-labelledby="card-type-tab-item-4">
      <div id="all">
        <div class="list text-gray-600"></div>
        <ul class="pagination"></ul>
      </div>
    </div>
  </div>
</section>